asgiref==3.9.0
attrs==25.3.0
Django==5.2.4
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
inflection==0.5.1
insultgenerator==1.0.3
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
loremipsum==1.0.5
numpy==2.3.1
pillow==11.3.0
PyJWT==2.9.0
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.26.0
scikit-learn==1.7.0
scipy==1.16.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
uritemplate==4.2.0
White-Noise==0.1.0
